    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
    {% if site.google.analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google.analytics }}');
    </script>
    <script>
    document.addEventListener("scroll", function(){
        activeToc();
    });  

    const contents = document.querySelector('.content');
    const hTags = contents.querySelectorAll('h1, h2, h3');
    const topOffsetHeight = document.querySelector('#dl-menu').offsetHeight; 
    
    const findCurrentHTag = function () {      
      let cnt=0;
      const centerHeight = window.scrollY - topOffsetHeight; 
      [...hTags].reduce((pre, cur,idx) => { 
          if (centerHeight < pre.offsetTop && centerHeight < cur.offsetTop) {
              return pre; 
          } 
          if (pre.offsetTop < centerHeight && centerHeight <= cur.offsetTop) {
              return pre; 
          } 
          cnt++;
          return cur; 
      }); 
      if(cnt>hTags.length-2){
        cnt=hTags.length-1;
      }
      return cnt === 0 ? 0 : cnt-1;
    };
    const toc=document.querySelector('#markdown-toc');
    const tocList=toc.querySelectorAll('a');
    const activeToc = function () { 
      let curIdx = findCurrentHTag();
      let curToc = tocList[curIdx];
      tocList.forEach( aTag =>{
        aTag.classList.remove('toc-active');
      }); 
      curToc.classList.add('toc-active');
    };

    </script>
    {% endif %}
    {% if page.comments == true %}
        {% include disqus_comments.html %}
    {% endif %}