<script>
    document.addEventListener("scroll", function(){
      activeToc();
    });  

    const contents = document.querySelector('.content');
    const hTags = contents.querySelectorAll('h1, h2, h3');
    const topOffsetHeight = document.querySelector('#dl-menu').offsetHeight; 

    if(window.innerWidth <= 1279){
      var refElement = document.getElementById("markdown-toc");
      var parent = refElement.parentNode;
      var newDiv = document.createElement("div");
      parent.insertBefore(newDiv, refElement);
      newDiv.innerHTML="목차";
      newDiv.classList.add('fakeH1');
    }

    if(hTags.length>20 && window.innerWidth > 1279){
      document.querySelector('.toc').style.height='82%';
    }

    const findCurrentHTag = function () {      
      let cnt=0;
      const centerHeight = window.scrollY - topOffsetHeight; 
      [...hTags].reduce((pre, cur,idx) => { 
          if (centerHeight < pre.offsetTop && centerHeight < cur.offsetTop) {
              return pre; 
          } 
          if (pre.offsetTop < centerHeight && centerHeight <= cur.offsetTop) {
              return pre; 
          } 
          cnt++;
          return cur; 
      }); 
      if(cnt>hTags.length-2){
        cnt=hTags.length-1;
      }
      return cnt === 0 ? 0 : cnt-1;
    };
    const toc=document.querySelector('#markdown-toc');
    const tocList=toc.querySelectorAll('a');
    const activeToc = function () { 
      let curIdx = findCurrentHTag();
      let curToc = tocList[curIdx];
      tocList.forEach( aTag =>{
        aTag.classList.remove('toc-active');
      }); 
      curToc.classList.add('toc-active');
    };
</script>